@page "/remove-product/{productId:int}"
@using Crud.Frontend.Models
@using Crud.Frontend.Services
@inject IProductServices ProductServices
@inject NavigationManager NavigationManager


<h3>Remove Product</h3>

<p class="mt-3">
    Are you sure you Want to remove <span class="fw-bold">@ProductModel.Name</span> ?
</p>
<a class="btn btn-primary mt-3" onclick="@HandleYes">Yes</a>
<a class="btn btn-info mt-3" onclick="@HandleCancel">Cancel</a>
@code {
    [Parameter]
    public int ProductId { get; set; }

    public ProductModel ProductModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ProductModel = await ProductServices.GetProductById(ProductId);
    }
    private void HandleCancel()
    {
        NavigationManager.NavigateTo("/");
    }
    private async Task HandleYes()
    {
       await ProductServices.RemoveProduct(ProductId);
        NavigationManager.NavigateTo("/");
    }
}
